## Machine Learning in Cybersecurity and Privacy

### Challenge 8 - Pseudo Labelling using multiple supervised ML models

<div style="text-align: right"> By Smit Doshi (001475186) </div>

### Importing Required Libraries

In [3]:
# to handle datasets
import pandas as pd
import numpy as np

# machine learning imports
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [9]:
data = pd.read_csv('android_traffic.csv')
data.head()

,tcp_packets,dist_port_tcp,external_ips,vulume_bytes,udp_packets,tcp_urg_packet,source_app_packets,remote_app_packets,source_app_bytes,remote_app_bytes,source_app_packets.1,dns_query_times,type
0,36,6,3,3911,0,0,39,33,5100,4140,39,3,benign
1,117,0,9,23514,0,0,128,107,26248,24358,128,11,benign
2,196,0,6,24151,0,0,205,214,163887,24867,205,9,benign
3,6,0,1,889,0,0,7,6,819,975,7,1,benign
4,6,0,1,882,0,0,7,6,819,968,7,1,benign

In [3]:
X = data.drop('type',axis=1)
y = data['type']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y, test_size=0.20, random_state=42)

In [6]:
for column in data.columns:
    print(data[column].nunique())

760
169
31
4639
14
2
776
851
4815
4874
776
63
2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7845 entries, 0 to 7844
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tcp_packets           7845 non-null   int64
 1   dist_port_tcp         7845 non-null   int64
 2   external_ips          7845 non-null   int64
 3   vulume_bytes          7845 non-null   int64
 4   udp_packets           7845 non-null   int64
 5   tcp_urg_packet        7845 non-null   int64
 6   source_app_packets    7845 non-null   int64
 7   remote_app_packets    7845 non-null   int64
 8   source_app_bytes      7845 non-null   int64
 9   remote_app_bytes      7845 non-null   int64
 10  source_app_packets.1  7845 non-null   int64
 11  dns_query_times       7845 non-null   int64
 12  type                  7845 non-null   object
dtypes: int64(12), object(1)
memory usage: 796.9+ KB